@model  System_Controle.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Movie.Name</h2>
@{
    var classI = Model.Customers.Count > 1 ? "pop" : null;
}
<ul>
    @foreach (var c in Model.Customers)
    {
        <li class="@classI">@c.Name</li>
    }
</ul>


